@import 'tailwindcss';
/*
 Add text-size-adjust for better cross-browser compatibility.
 Tailwind's preflight only includes -webkit-text-size-adjust.
*/
html,
:host {
	text-size-adjust: 100%;
}

@layer utilities {
	/* Add -webkit-print-color-adjust for broader browser support. */
	.print-color-adjust-exact {
		-webkit-print-color-adjust: exact;
		print-color-adjust: exact;
	}
	.print-color-adjust-economy {
		-webkit-print-color-adjust: economy;
		print-color-adjust: economy;
	}

	/* Add -webkit-user-select for broader browser support. */
	.select-none {
		-webkit-user-select: none;
		user-select: none;
	}
	.select-text {
		-webkit-user-select: text;
		user-select: text;
	}
	.select-all {
		-webkit-user-select: all;
		user-select: all;
	}
	.select-auto {
		-webkit-user-select: auto;
		user-select: auto;
	}
}
